{
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "singleQuote": true,
        "tabWidth": 2
      }
    },
    {
      "files": "*.css",
      "options": {
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2
      }
    }
  ]
}
