@keyframes feedinTest {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.feedinTestA {
  opacity: 1;
}

.feedinTestB {
  animation: feedinTest 1s;
}

.slideinLeft1 {
  display: inline-block;
  animation: slideinLeft 1s ease-in;
}

.slideinLeft2 {
  display: block;
  animation: slideinLeft 1.5s ease-in 0s;
}

.slideinLeftB {
  opacity: 0;
  .test {
    color: antiquewhite;
  }
}

.textFeedIn {
  animation: animationTextFeedin1 1s;
}

/* トップ画面イメージ */
.topImage {
  animation: imageEffect 1s;
}

.topImage::before {
  /* トップ画面のカーテン */
  position: fixed;
  left: 0;
  /* top: 40%; */
  animation: imageEffectBackGround 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  content: '';
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: rgb(0, 0, 0);
}
@keyframes imageEffect {
  /* カーテンを上へスライド */
  0% {
    filter: brightness(0);
  }

  50% {
    filter: brightness(70%);
  }
  100% {
    filter: brightness(100%);

    /* background-color: rgba(255, 255, 255, 0.436); */
  }
}

/* 左からスライドイン */
@keyframes slideinLeft {
  /* マスキングのように左から右へ切り抜きを解除する */
  0% {
    /* transform: translateX(-50px) scaleX(0); */
    clip-path: inset(0 100% 0 0);
    opacity: 0;
    /* width: 0%; */
  }

  50% {
    clip-path: inset(0 50 0 0);
  }
  100% {
    /* transform: translateX(0px) scaleX(1); */
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

/* テキストをフェードイン */
@keyframes animationTextFeedin1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: rgb(0, 0, 0);
  }
}

@keyframes imageEffectBackGround {
  0% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }

  50% {
    /* opacity: 0.5; */
  }
  100% {
    clip-path: inset(0 0 100% 0);
    opacity: 1;

    /* background-color: rgba(255, 255, 255, 0.436); */
  }
}
