/* W:1336 */

/* SP W:768 */

.headerarea {
  top: -2px;
  left: 0px;

  height: 72px;

  text-align: left;
  color: #fff;
}
.headerarea h1 {
  height: 72px;

  font-family: 'Noto Nastaliq Urdu';
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.13em;

  color: #fff;

  padding-left: 30px;
  margin: 0;
  background-color: black;
}

.headerarea a:visited,
.headerarea a:link {
  color: inherit;
  justify-content: flex-end;
  text-decoration: none;
}

/* フッター */
.footer {
  padding-left: 30px;

  height: 183px;
  background: #000000 0% 0% no-repeat padding-box;
}

.footer h2 {
  margin-top: 0px;

  font: normal normal bold 24px Noto Nastaliq Urdu;
  letter-spacing: 3.05px;
  color: #ffffff;
}

/* トップページとサイドメニューを並べるよう */
.wrap1 {
  /* width: 100%; */
  display: flex;
  /* flex-wrap: wrap; */
}

/* トップページ */

.imagewrapper {
  width: 100%;

  height: 200px;
}

/* ヒーロー画像 */
.heroimgclass {
  z-index: -1;
  /* float: left; */
  width: 100%;
  height: 727px;

  @media (max-width: 768px) {
    background-color: #d7baf7;
  }
}

/* トップビューのページタイトル */
.heroword {
  z-index: 1;
  position: absolute;
  margin-top: 20%;

  text-align: center;
  width: 100%;

  letter-spacing: 1.3px;
  color: #ffffff;
  /* background-color: bisque; */
}
.heroword p {
  padding-left: 45%;
  margin: 0;
  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: auto;
  }
}

.shopname {
  /* font: normal normal bold 45px Noto Nastaliq Urdu; */
  /* フォントを行間の都合で変更 */
  font-family: 'Amiri';
  font-weight: bold;
  font-size: 45px;

  letter-spacing: 5.71px;
  @media (max-width: 768px) {
    font-size: 15px;
    padding-left: 0;
    padding-right: auto;
  }

  /* background-color: #825858; */
}

.subtext1 {
  font: normal normal bold 13px/19px Noto Sans JP Thin;
  /* background-color: #d0b3b3; */
  @media (max-width: 768px) {
    font-size: 6px;
  }
}

.subtext2 {
  font: normal normal bold 13px/19px Noto Sans JP Thin;
  /* background-color: #827171; */
  @media (max-width: 768px) {
    font-size: 6px;
  }
}

/* サイトメニュー */

.sidemenu {
  background-color: black;

  /* position: absolute; */
  top: 0px;
  float: right;
  right: 0px;
  /* display: center; */

  position: fixed;

  height: 100%;
  padding-top: 20px;
  z-index: 100;
  /* transform: matrix(0, 1, -1, 0, 0, 0); */
  /* text-align: left; */
  font: normal normal normal 23px/28px Bebas Neue;
  letter-spacing: 0px;
  color: #ffffff;

  @media (max-width: 768px) {
    font-size: 11px;
    opacity: 0.1;
  }
}

.sidemenu p {
  margin-top: 116px;
  writing-mode: vertical-rl;
}

/* ハンバーガーのボタン部分 */
.humberger {
  /* position: relative; */
  height: 20px;
  width: 20px;
  display: block;
  margin-top: 138px;
  /* 357-116-102 */
  margin-left: auto;
  margin-right: auto;
}

.humberger div {
  /* margin: 10px; */
  position: relative;
  /* left: 0; */
  margin-top: 10px;
  height: 1px;
  /* width: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #faf2f2;
  border-radius: 2px;
  /* display: inline-block; */
  box-sizing: border-box;
}

.upperBar {
  /* margin: 10px; */
  position: relative;
  /* left: 0; */
  margin-top: 10px;
  height: 1px;
  /* width: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #faf2f2;
  border-radius: 2px;
  /* display: inline-block; */
  box-sizing: border-box;
  transform: translateY(5px) rotate(135deg);
}

.lowerBar {
  /* margin: 10px; */
  position: relative;
  /* left: 0; */
  margin-top: 10px;
  height: 1px;
  /* width: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #faf2f2;
  border-radius: 2px;
  /* display: inline-block; */
  box-sizing: border-box;

  transform: translateY(-6px) rotate(-135deg);
  margin-bottom: 0;
}
/* アイコン部分 */
.sidemenuiconarea {
  margin-top: 100px;

  /* 460-116-102-22 */
}

.snsicon {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* 画像の大きさを固定 */
  width: 22px;
  height: 22px;
}

/* ナビゲーション */
.navarea {
  z-index: 100;
  position: fixed;
  right: 0%;
  top: 0%;

  width: 40%;
  height: 100%;

  display: grid;
  background-color: rgba(0, 0, 0, 0.77);

  @media (max-width: 768px) {
    left: 0%;
    width: 100%;
    /* opacity: 0.1; */
  }
}

.navItem {
  /* color: #f7faf9; */
  margin-left: 113px;
  margin-top: 50px;
  /* background-color: #d9b7b7; */
}
.navItem li {
  margin-top: 10px;
  text-align: left;
  font: normal normal normal 24px Noto Sans JP Thin;
  letter-spacing: 0px;
  color: #ffffff;
  list-style: none;
  opacity: 1;
}

/* 下線を消す */
.navItem li a {
  text-decoration: none;
}

/* 訪問前後の状態をなくす */
.navItem a:visited,
.navItem a:link {
  color: inherit;
  justify-content: flex-end;
}

.navItem .sectionItem {
  font: normal normal bold 24px Noto Nastaliq Urdu;
  letter-spacing: 2.67px;
  color: #ffffff;
}

.navItem .sectionItem::before {
  content: ''; /* 擬似要素の中身を指定 */
  display: inline-block;
  width: 18px; /* 四角の幅を調整 */
  height: 18px; /* 四角の高さを調整 */
  border: 3px solid #ffffff; /* 枠線のスタイルを指定 */
  margin-right: 10px; /* 四角の右側にスペースを追加 */
  margin-left: -35px; /* 四角の右側にスペースを追加 */
  margin-bottom: 5px; /* 四角の右側にスペースを追加 */
  vertical-align: middle; /* 四角を垂直方向に中央揃え */
}

.sectionItem:hover::before {
  content: ''; /* 擬似要素の中身を指定 */
  display: inline-block;
  width: 18px; /* 四角の幅を調整 */
  height: 18px; /* 四角の高さを調整 */
  border: 3px solid #ff0000; /* 枠線のスタイルを指定 */
  margin-right: 10px; /* 四角の右側にスペースを追加 */
  margin-left: -35px; /* 四角の左側にスペースを追加 */
  margin-bottom: 5px; /* 四角の下にスペースを追加 */
  vertical-align: middle; /* 四角を垂直方向に中央揃え */
}

/* トップページ */

/* セクション１ */

.firstsectionwrapper {
  margin-top: -3px;
  padding-bottom: 90px;

  /* background-color: #ccb4e7; */
  /* padding-left: 128px; */
  padding-left: min(calc(10%), 128px);
  padding-right: min(calc(10%), 128px);

  @media (max-width: 768px) {
    margin-top: -544px;
    padding-left: min(calc(10%), 28px);
    padding-right: min(calc(10%), 28px);
  }
}

.sectionTitle {
  font-size: 78px;
}

.sectionTitle h2 {
  /* top: 870px;
  left: 128px; */
  /* width: 317px; */
  height: 78px;
  text-align: left;
  /* font: normal normal bold 78px/195px Noto Nastaliq Urdu; */
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  /* font-size: 78px; */

  line-height: 195px;
  font-family: 'Noto Nastaliq Urdu';
  letter-spacing: 9.91px;
  /* color: #ffffff; */
  text-transform: uppercase;
  /* opacity: 1; */
  /* background-color: #c5b3b3; */

  @media (max-width: 768px) {
    /* height: 48px; */
    /* font: normal normal bold 39px Noto Nastaliq Urdu; */

    font-size: 0.5em;
  }
}

/* セクション下の項目 */

.explainsection {
  margin-top: 80px;
  /* 951-870 */
  display: flex;
  @media (max-width: 768px) {
    margin: 0;

    /* background-color: #c5b3b3; */
  }
}

.explainsection p {
  position: relative; /*絶対値指定の親要素に必要*/
  font: normal normal normal 34px/85px Noto Nastaliq Urdu;
  letter-spacing: 2.45px;
  @media (max-width: 768px) {
    padding-bottom: 10px;
    font: normal normal bold 17px Noto Nastaliq Urdu;
  }
}

/* 最初のセクションのConceptの部分 */
.textWrapper1 {
  opacity: 0.99;
  z-index: 3;
  /*これがないとImageコンポーネントを重ねられない; */
}

.topFirstWiteBack {
  width: 11vw; /* width: 151px; */
  min-width: 151px;

  height: 49px;

  text-align: left;
  padding-left: 11px;

  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 46px;
  font-family: 'Noto Sans JP Thin';

  color: #000000;

  background: #ffffff;

  @media (max-width: 768px) {
    /* 174 */

    width: 22vw;
    height: 30px;
  }
}

.topFirstWiteBack p {
  /* font: normal normal bold 19px/46px Noto Sans JP Thin; */
  font-size: 1em;
  letter-spacing: 3.44px;
  @media (max-width: 768px) {
    font: normal normal bold 19px Noto Sans JP Thin;
  }
}

/* ２番目の文字　クリエイターのためのところ */
.topFirstWiteBack2 {
  text-align: left;
  padding-left: 11px;
  width: 488px;
  color: #000000;

  background: #ffffff 0% 0% no-repeat padding-box;

  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 46px;
  font-family: 'Noto Sans JP Thin';

  @media (max-width: 768px) {
    width: 100%;
  }
}

.topFirstWiteBack2 p {
  /* font: normal normal bold 19px/46px Noto Sans JP Thin; */
  font-size: 1em;
  letter-spacing: 3.17px;
  @media (max-width: 768px) {
    /* font: normal normal bold 12px Noto Sans JP Thin; */

    font-size: 0.63em;
  }
}

/* クリエイターの強調部分 */
.forCreater {
  font: normal normal bold 19px/46px Noto Sans JP Thin;
  letter-spacing: 3.84px;
  @media (max-width: 768px) {
    font: normal normal bold 15px/46px Noto Sans JP Thin;
  }
}

/* 背景黒枠の部分 */
.topFirstBlackBack {
  text-align: left;
  /* font: normal normal normal 19px/39px Noto Sans JP Thin; */
  /* letter-spacing: 3.17px; */
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 39px;
  font-family: 'Noto Sans JP Thin';
  color: #ffffff;

  width: 41vw;

  height: 207px;
  padding-left: 19px;
  /* 139-128 */
  background: rgba(0, 0, 0, 0.72) 0% 0% no-repeat padding-box;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding-top: 20px;

    /* height: flex-wrap; */
  }

  @media screen and (min-width: 769px) {
    min-width: 569px;
  }
}

.topFirstBlackBack p {
  margin: 0;
  /* font: normal normal normal 19px/39px Noto Sans JP Thin; */
  /* letter-spacing: 3.17px; */
  /* color: #ffffff; */
  font-size: 1em;
  opacity: 1;
  @media screen and (max-width: 768px) {
    /* font: normal normal normal 11px Noto Sans JP Thin; */
    font-size: 0.57em;
    line-height: 2em;

    flex-wrap: wrap; /* 行を折り返す */
  }
}

/* .Image1Wrapper {
  background-color: #b1e6d8;
} */

/* セクション１の画像 */
.sectionImage1 {
  width: 700px;
  height: 400;
  margin-top: -300px;
  /* 197+56+25+ */
  /* padding-left: 380px;
  padding-right: 200px; */

  margin-left: min(calc(30%), 502px);
  @media (max-width: 768px) {
    margin-left: 0px;
    margin-top: -350px;
    width: 320px;
    /* 647px; */
    height: 240px;
    /* 476px; */
  }
  /* 極限まで詰めてOK */
}

/* 2番目の画像 */
.image2Wrapper {
  display: flex;

  margin-bottom: 0px;
  /* background-color: #f7faf9; */
}

.sectionImage2 {
  width: 580px;
  height: 460px;

  margin-bottom: 0px;
  /* background-color: #917878; */
  z-index: 9;
  @media (max-width: 768px) {
    width: 290px;
    height: 230px;
  }
}

.textBlackImage2 {
  z-index: 10;

  margin-left: -150px;
  margin-top: 88px;

  /* margin-left: min(calc(-40%), -200px); */
  text-align: center;

  width: 303px;
  height: 49px;
  /* ここの幅の調整が必要 */
  background: #ffffff 0% 0% no-repeat padding-box;
  @media (max-width: 768px) {
    /* margin: 0px; */
    padding: auto;
    width: 303px;
    height: 32px;
    margin-top: 20px;
  }
}

.textBlackImage2 p {
  /* margin: auto; */
  padding: auto;

  font: normal normal bold 19px/10px Noto Sans JP Thin;
  letter-spacing: 3.44px;
  @media (max-width: 768px) {
    font: normal normal bold 15px/1px Noto Sans JP Thin;
  }
}

/* ３つ目の画像とテキストのコンテナ部分 */
.image3Wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -200px;
  padding-right: 100px;

  @media (max-width: 768px) {
    margin-top: -50px;

    padding-right: 0px;
  }
}

/* ３番目の画像のテキスト部分 */
.textBlackImage3 {
  text-align: center;
  width: 343px;
  height: 49px;

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 11;
  @media (max-width: 768px) {
    width: 333px;
    height: 25px;
    /* margin-top: -250px; */
    padding-bottom: 5px;
  }
}

.textBlackImage3 p {
  padding: auto;

  font: normal normal bold 19px/10px Noto Sans JP Thin;
  letter-spacing: 3.44px;
  @media (max-width: 768px) {
    font: normal normal bold 12px/1px Noto Sans JP Thin;
  }
}

.sectionImage3 {
  width: 580px;
  height: 460px;

  z-index: 7;
  margin-top: -50px;
  margin-left: -150px;

  @media (max-width: 768px) {
    width: 50vh;
    height: 230px;
    background-color: #6e13d0;
  }
}

/* Moreボタン */
.moreWrapper {
  align-items: center;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  @media (max-width: 768px) {
    /* margin-top: -300px; */
  }
}

.moreWrapper a {
  font: normal normal bold 32px Noto Nastaliq Urdu;
  padding-right: 5px;
  padding-bottom: 5px;
  @media (max-width: 768px) {
    font: normal normal bold 16px Noto Nastaliq Urdu;
  }

  color: #ffffff;
}

.moreWrapper a:visited,
.moreWrapper a:link {
  color: inherit;
  justify-content: flex-end;
  text-decoration: none;
}

/* セクション２ */

.secondsectionwrapper {
  margin-top: -65px;
  padding-bottom: 90px;

  /* background-color: #ccb4e7; */
  /* padding-left: 128px; */
  position: relative !important;
  padding-left: min(calc(10%), 128px);
  padding-right: min(calc(10%), 128px);

  @media (max-width: 768px) {
    padding-left: min(calc(10%), 28px);
    padding-right: min(calc(10%), 28px);
  }
}

.paragramCmpClass {
  font: normal normal normal 16px/39px Noto Sans JP Thin;
  letter-spacing: 2.67px;
  @media (max-width: 768px) {
    font: normal normal normal 13px Noto Sans JP Thin;
  }
}

/* メニュー部分の大枠 */
.menuBlock {
  display: flex;
  @media (max-width: 768px) {
    background: #000000;
    height: 200px;
    margin-bottom: 10px;
  }
}

.menuBlockImg {
  margin: auto 0 auto auto;
  @media (max-width: 768px) {
    /* width: 150px; */
    margin: 0 0 auto auto;
    background-color: #827171;
  }
  /* background-color: #827171; */
}

/* 逆パターン */
.menuBlockImgReverse {
  /* background-color: #9a9797; */

  @media (max-width: 768px) {
    display: none;
  }
}
/* あとで編集するかも */

/* スマホ専用 */
.menuBlockImgOnlySp {
  margin: auto 0 auto auto;
  background-color: #827171;
  @media (min-width: 768px) {
    display: none;
  }
  /* display: none; */
}

/* ラベル部分 */
.menuTextLabelBlack {
  /* width: 447px; */
  width: 40vw;
  max-width: 447px;

  /* height: 410px; */
  height: 45vh;
  background: #000000;
  position: relative;
  @media screen and (max-width: 768px) {
    /* height: 200px;
    width: 150px; */
    width: 39.5vh;
    max-width: 304px;

    height: 100%;

    background-color: #827181;
  }
}

/* 逆パターン */
.menuTextLabelBlackReverse {
  width: 447px;
  height: 410px;
  margin: auto 0 auto auto;
  background: #000000 0% 0% no-repeat padding-box;
  position: relative;
  @media (max-width: 768px) {
    margin: auto auto auto 0;

    width: 207px;
    height: 200px;

    /* background-color: #827181; */
  }
}

.menuNumWrapper {
  text-align: right;
  padding-right: 20px;
  opacity: 0.85;
  width: 90px;
  align-items: end;
  position: relative !important;
  margin: auto 0 auto auto;
  @media (max-width: 768px) {
    /* position: absolute;
    margin-top: 0px;
    z-index: 20;
    margin-left: 250px;
    margin-right: 0px; */
    display: none;
    /* background-color: #c6c8c7; */
  }
}

.menuNumWrapperSP {
  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    text-align: right;
    /* padding-right: 20px; */
    /* opacity: 0.85; */
    /* height: 100px; */
    /* position: relative; */
    /* margin-top: 0px; */
    /* z-index: 20; */
    margin-left: auto;
    margin-right: 0px;
    /* margin-bottom: -30px; */
    /* width: 50px; */
    width: 12vw; /* 98/768 */
    background-color: #c6c8c7;
  }
}

.menuNumWrapper p {
  margin: 0px;
  padding: 0px;
  font: normal normal bold 27px Noto Nastaliq Urdu;
  @media (max-width: 768px) {
    font: normal normal bold 18px Noto Nastaliq Urdu;
  }
}

p.menuNumber {
  margin-top: -59px;
  padding-right: 6px;
  font: normal normal bold 59px Noto Nastaliq Urdu;
  letter-spacing: 7.49px;
  @media (max-width: 768px) {
    font: normal normal bold 45px Noto Nastaliq Urdu;
  }

  /* letter-spacing: 3.43px; */
}

p.menuNumberSP {
  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    /* margin-top: -35px; */
    margin: 0px;
    padding-right: 6px;
    margin-bottom: 0px;
    /* font: normal normal bold 59px Noto Nastaliq Urdu; */
    letter-spacing: 7.49px;
    font: normal normal bold 36px Noto Nastaliq Urdu;
    /* margin-left: auto;
    margin-right: 0px;
    margin-bottom: 0px; */
  }

  /* letter-spacing: 3.43px; */
}

.menuText {
  padding-left: 68px;
  /* padding-top: 0; */
  /* position: absolute; */
  margin-top: -95px;
  @media (max-width: 768px) {
    padding-left: 12px;
    margin-left: 0px;

    /* position: absolute; */
    margin-top: 30px;
  }
  /* background-color: rgba(169, 68, 68, 0.77); */
}

.menuText p {
  margin: 0px;
}

.menuItemName {
  font: normal normal normal 32px/80px Noto Serif Myanmar;
  letter-spacing: 0px;

  @media (max-width: 768px) {
    font: normal normal normal 20px Noto Serif Myanmar;
  }
}

.priceText {
  padding-top: 5px;
  letter-spacing: 2.67px;
  @media (max-width: 768px) {
    font: normal normal normal 12px Noto Serif Myanmar;
  }
  /* background-color: #825858; */
}
.priceText span {
  padding-left: 6px;
}

/* セクション３ */

.thirddsectionwrapper {
  margin-top: -65px;
  padding-bottom: 90px;

  /* background-color: #ccb4e7; */
  /* padding-left: 128px; */
  padding-left: min(calc(10%), 128px);
  padding-right: min(calc(10%), 128px);

  /* padding-right: 128px; */
}

.locationImage {
  /* width: 1084px; */
  height: 453px;
}

/* 住所情報 */
.addressArea {
  margin-top: 35px;

  /* padding: 40px; */
  /* padding-left: 40px; */
  padding-left: 2vw;
  padding-top: 40px;
  padding-bottom: 80px;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: normal;
  font-family: 'Noto Sans JP Thin';

  background-color: rgb(255, 255, 255);
}

.addressText {
  display: flex;
}

.addressTextLeft {
  /* width: 188px; */
  width: 13vw;
}

.addressAreaParagraph {
  /* font: normal normal normal 17px Noto Sans JP Thin; */
  font-size: 1em;
  letter-spacing: 2.23px;
  color: #000000;
  @media screen and (max-width: 768px) {
    font-size: 0.5em;
  }
}

.addressPayLogo1 {
  /* margin-top: auto; */
  margin-bottom: -20px;
  width: 104px;
  height: 67px;
}

.addressPayLogo2 {
  /* margin-top: auto;
  margin-bottom: auto; */
  margin-bottom: -20px;
  width: 174px;
  height: 63px;
}

.addresAreaSpan01 {
  margin-left: 30px;
}

.addresAreaSpan02 {
  margin-left: 40px;
}
.addresAreaSpan03 {
  margin-left: 95px;
}

.addresAreaSpan04 {
  margin-left: 30px;
}

.addresAreaSpan05 {
  margin-right: 30px;
}

.mapImage {
  /* width: 1040px; */
  height: 284px;
}

.addressWrapper {
  background-color: #ffffff;
}

.addressImgWrapper {
  text-align: end;
}

a.mapAppButton {
  width: 200px;
  height: 43px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 4px solid #000000;

  font: normal normal normal 17px Noto Sans JP Thin;
  letter-spacing: 0px;

  text-decoration: none;

  padding-top: 5px;
  padding-left: 28px;
  padding-bottom: 7px;
  padding-right: 50px;
  /* display: flex; */
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: auto;
  z-index: 4;
  opacity: 0.99;

  /* justify-content: flex-end; */
}

a.mapAppButton:visited {
  color: inherit;
  justify-content: flex-end;
}

/* マップ下のスペース用 */
.addressEndDiv {
  height: 50px;
}

/* LearnMorePage */
/* トップビュー */

.topviewimg {
  z-index: -1;

  width: 100%;
  margin-left: -6px;

  /* background-color: #6e13d0; */
}

.moretopviewTitle {
  font: normal normal bold 45px Noto Nastaliq Urdu;
  letter-spacing: 5.71px;
}

.moretopviewSubTitle {
  font: normal normal bold 13px/19px Noto Sans JP Thin;
  letter-spacing: 0px;
}

.moretopviewSubTitle span {
  padding-left: 15px;
}

.moreTopTitleWrap {
  z-index: 1;
  position: absolute;
  margin-top: 2%;

  text-align: center;
  width: 100%;

  letter-spacing: 1.3px;
  color: #ffffff;
  /* background-color: bisque; */
}

.moreTopTitleWrap p {
  padding-left: 55%;
  margin: 0;
}

.moreTextBlack {
  width: 631px;
  height: 88px;
  padding-left: 14px;
  padding-bottom: 9px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.moreTextBlack p {
  font: normal normal bold 19px/46px Noto Sans JP Thin;
  letter-spacing: 3.17px;
  color: #000000;
}

.morePageGalleryArea {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000;
}

.moreTextBlackWhiteBack {
  width: 422px;
  height: 37px;
  padding-left: 26px;
  /* padding-bottom: 9px; */
  background: #ffffff 0% 0% no-repeat padding-box;
}
/* Planセクション */

.morefirstsectionwrapper {
  margin-top: -69px;
  padding-bottom: 100px;

  padding-left: min(calc(10%), 128px);
  padding-right: min(calc(10%), 128px);
}

.moresecondsectionwrapper {
  margin-top: -93px;
  padding-bottom: 150px;

  /* background-color: #ccb4e7; */
  /* padding-left: 128px; */
  padding-left: min(calc(10%), 128px);
  padding-right: min(calc(10%), 128px);

  /* padding-right: 128px; */
}

.moreTextBlackWhiteBack p,
.moreTextBlackWhiteBack2 p {
  font: normal normal bold 16px/39px Noto Sans JP Thin;
  /* letter-spacing: 2.67px; */
}

.moreTextBlackWhiteBack2 {
  width: 341px;
  height: 37px;
  padding-left: 26px;
  /* padding-bottom: 9px; */
  background: #ffffff 0% 0% no-repeat padding-box;
}

.planLabel {
  height: 88px;
  margin-top: 40px;
  background: #000000 0% 0% no-repeat padding-box;
  margin-bottom: 10px;
  display: flex;
}

.planLabelTextLeft {
  padding-left: 19px;
  font: normal normal bold 19px/46px Noto Sans JP Thin;
  letter-spacing: 3.17px;
}

.planLabelTextRight {
  margin-top: -120px;
  margin-left: auto;
  margin-right: 0;

  font: normal normal bold 67px Noto Nastaliq Urdu;
  letter-spacing: 8.51px;
}

.areaBlock {
  /*  */
  display: flex;
  background-color: #000000;
  margin-bottom: 10px;
}

.areaTextLabelBlack {
  width: 447px;
  /* height: 410px; */
  /* background: #c53131 0% 0% no-repeat padding-box; */
  position: relative;
}

.areaText {
  padding-left: 68px;
  /* flex: 1; */

  /* width: 1110px; */
  /* height: 267px; */
  padding-top: 48px;
  /* position: absolute; */
  /* margin-top: -95px; */
  background-color: rgba(0, 0, 0);
}

.paragramOfArea {
  font: normal normal normal 16px Noto Sans JP Thin;
  letter-spacing: 2.67px;

  /* background-color: #d7baf7; */
  margin-top: -16px;
}

.areaItemName {
  font: normal normal normal 32px Noto Serif Myanmar;
  letter-spacing: 0px;
  margin-top: -32px;

  /* background-color: #77be8b; */
}

.areaBlockImg {
  width: 487px;
  height: 267px;
  margin: auto 0 auto auto;
  /* background-color: #000000; */
}

/* 逆パターン */

.areaTextLabelBlackReverse {
  width: 447px;
  /* height: 410px; */
  margin: auto 0 auto auto;
  /* background: #c53131 0% 0% no-repeat padding-box; */
  position: relative;
}

.areaBlockImgReverse {
  width: 487px;
  height: 267px;
  /* margin: auto 0 auto auto; */
  /* background-color: #ac2a2a; */
}

.usagePC {
  padding: 0;
}

.specialPanel {
  width: 235px;
  height: 73px;
  margin: auto 10px auto auto;
}

.usageSP {
  display: none;
}

/* スペース用　エリア使用量 */
.spaceDivUsage {
  height: 60px;
}

.morethirdsectionwrapper {
  margin-top: -65px;
  /* padding-bottom: 100px; */

  padding-left: min(calc(10%), 128px);
  padding-right: min(calc(10%), 128px);
}

/*メニューページ  */

.menufirstsectionwrapper {
  /* margin-top: -69px; */
  padding-bottom: 100px;

  padding-left: min(calc(10%), 128px);
  padding-right: min(calc(10%), 128px);
}

.menutopviewTitle {
  font: normal normal bold 45px Noto Nastaliq Urdu;
  letter-spacing: 5.71px;
  color: #000000;
}

.menuTopTitleWrap {
  z-index: 1;
  position: absolute;
  margin-top: 2%;

  text-align: center;
  width: 100%;

  letter-spacing: 1.3px;
  color: #000000;
  /* background-color: bisque; */
}

.menuTopTitleWrap p {
  padding-left: 55%;
  margin: 0;
  color: #ffffff;
}

.menutopviewSubTitle {
  font: normal normal bold 13px/19px Noto Sans JP Thin;

  color: #fff;
  letter-spacing: 0px;
  text-shadow: 1px 2px 3px #e4e4e4;
}

.menutopviewSubTitle span {
  padding-left: 15px;
}

/* セクション１ */
.menuTitleLabel {
  width: 253px;
  /* height: 30px; */
  /* padding-top: 1px; */
  margin-bottom: 2px;
  text-align: center;

  background: rgba(0, 0, 0, 0.76);
}

.menuTitleLabelUnderbar {
  width: 253px;
  border-bottom: solid rgba(0, 0, 0, 0.76) 2px;
}

.menuTitleLabel p {
  margin: 0;
  border-radius: 2px;
}

.itemPanelImg {
  width: 359px;
  height: 267px;
}

.menuItemText {
  padding-left: 25px;

  font: normal normal normal 16px Noto Sans JP Thin;
  letter-spacing: 0px;
}

.menuItemText p {
  margin: 5px;
  letter-spacing: 2.67px;
}

.menuListWrap {
  display: flex;
  width: auto;
  flex-wrap: wrap; /* 行を折り返す */
  justify-content: space-between; /* 要素を均等に配置 */

  padding-bottom: 100px;
  @media (max-width: 768px) {
    flex-wrap: wrap; /* 行を折り返す */
    justify-content: center; /* 要素を中央に配置 */
  }
}

/* あとで移植すること */
@media (max-width: 768px) {
  .itemPanelImg {
    width: 150px;
    height: 120px;
    padding-bottom: -10px;
    background-color: #6e13d0;
  }

  .menuItemText {
    padding-left: 5px;
    position: relative;

    font: normal normal normal 6px Noto Sans JP Thin;
    letter-spacing: 0px;
  }

  .menuItemText p {
    margin: 5px;
    letter-spacing: 2.67px;
  }
}
