/* スライダーボタン */
button.slider-button {
  /* button */
  color: white;
  background-color: black;
  width: 183px;
  height: 47px;
  border-radius: 0px;
  top: 82vh;
  /* font */
  font-size: 20px;
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.4px;
  opacity: 1 !important;
}
/* Prevボタン */
button.slider-arrow-prev {
  left: 0;
  position: absolute;

  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 10px;
  /* テキスト*/
  .buttonText {
    padding-left: 38px;

    /* padding-right: 18px; */
  }
}

/* Nextボタン */
button.slider-arrow-next {
  right: 0;
  position: absolute;

  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 10px;

  /* テキスト*/
  .buttonText {
    padding-right: 38px;

    /* padding-right: 18px; */
  }
}
/* NewsのPrevボタン */
button.news-slider-arrow-prev {
  background-color: black;
  border-radius: 0%;
  left: max(calc(-5%), -40px);
  height: 7vw;
  width: 7vw;
  opacity: 1 !important;
  position: absolute;
  padding-left: 1px;
}

/* NewsのNextボタン */
button.news-slider-arrow-next {
  background-color: black;
  border-radius: 0%;
  right: max(calc(-5%), -40px);
  opacity: 1 !important;
  position: absolute;
  padding-right: 1px;
}

/* 内部のSVG */
button.news-slider-arrow-prev svg,
button.news-slider-arrow-next svg {
  width: 30%;
  height: 30%;
}
