/* カート追加時のアニメーション */
.cartCount {
  animation: cartCountAnimation 0.7s ease-out;

  display: inline-block;
}

@keyframes cartCountAnimation {
  /* 画面側で作成したカート数＆一つ前のカート数の２つを縦に並べたものを上下にスライドして数が増えるように見せる。 */
  0% {
    transform: translateY(0em);
  }

  50% {
    transform: translateY(-1em);
  }

  100% {
    transform: translateY(-2em);
  }
}

/* ホバーイベント類 */

/* リンクボタンのホバー */
.topPageLinkBottom:hover {
  /* filter: invert(100%); */
  background-color: #ffffff;
  color: #000;
}

/* ニュース一覧のホバー */
.topPagenewsItemHover:hover {
  background-color: rgba(198, 198, 198, 0.3); /* ふんわりとした明るい影を追加 */
  transition: background-color 1s; /* 背景色の変化をアニメーション化 */
  /* background-color: #ffffff; */
}

/* カテゴリーのホバー */
.lineUpuCategory li:hover {
  text-decoration-line: underline;
  text-decoration-color: rgba(220, 220, 220, 0.5);
  text-underline-offset: 0.5rem;
}

/* 商品ボックスのホバー */
.itemBoxAnker:hover {
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0.83);
  text-underline-offset: 0.2rem;
}

.topItemBoxAnker:hover {
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.83);
  text-underline-offset: 0.2rem;
}

/* ヘッダーのメニュー */
.headerLink a:hover {
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.83);
  text-underline-offset: 0.2rem;
  transition: text-decoration-color 0.3s, text-decoration-style 0.3s; /* 下線が表示される時間を設定 */
}

/* カートのアイコン */
.cartIconHover:hover {
  border-bottom: #000000 1px solid;
  border-bottom-width: 3px;
  transition: border-bottom-width 1s;
  /* 下線部を入れることでカートアイコンが動くように見せる */
}

/* ニュース一覧のホバー */
.newsListHover:hover {
  background-color: rgba(221, 218, 218, 0.3); /* ふんわりとした明るい影を追加 */
  transition: background-color 1s; /* 背景色の変化をアニメーション化 */
}

/* topページのカテゴリーホバー */
.arrowHover:hover {
  border-color: #ffffff;
}
.arrowHover:hover svg {
  animation: animationArrowSlide 1s;
}

/* 商品詳細カートボタン、配送情報入力のホバー */
.itemDetailCartButtonHover button:hover {
  /* ボタンの色を反転させる。 */
  filter: invert(100%);
  border: #ffffff 1px solid;
}

/* 数量系のホバー */
.countHover button:hover {
  background-color: rgba(221, 218, 218, 0.3); /* ふんわりとした明るい影を追加 */
}

/* 数量系のホバー */
.sizeButtonHover:hover {
  background-color: rgba(221, 218, 218, 0.3); /* ふんわりとした明るい影を追加 */
}

/* サムネイルホバー */
.thumbnailHover:hover {
  filter: drop-shadow(0px 0px 4px #636364);
}

/* アニメーション系 */

/* テキスト部分のフェードイン */
.FeedIn1 {
  animation: animationFeedin1 1s;
}
/* テキストをフェードイン */
@keyframes animationFeedin1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationArrowSlide {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
