/* トップページ */
/* ヘッダー */
.header {
  background-color: black;

  /* 幅を設定してFixed */
  top: 0px;
  width: 100%;
  height: 88px;
  position: fixed;
  z-index: 10;

  /* ---- */
  color: #fff;
  font-family: Noto Sans Javanese;
  font-size: 20px;
  font-style: normal;
  /* font-weight: 400; */
  /* line-height: 49px; */
  /* 245% */
  /* -- */
}

/* ヘッダー内の要素の大枠部分 */
.headerItemWrapper {
  /* 横並びにして右寄せにする */
  display: flex;
  justify-content: flex-end;
  position: relative;

  /* 左右の内側の幅を設定 */
  margin-left: min(calc(5%), 88px);
  margin-right: min(calc(5%), 94px);

  background-color: rgb(140, 138, 135);
  @media screen and (max-width: 768px) {
  }
}
/* ロゴイメージ */
.logoImage {
  /* 上下の位置を設定して絶対値固定する */
  background-color: rgb(93, 97, 97);
  left: 0px;
  top: 25px;

  position: absolute;
}

/* ヘッダーのメニュー部分 */
.headerMenu {
  display: flex;
  padding-top: 18.5px;
  align-items: center;
  background-color: antiquewhite;
}

/* ヘッダー中のリンク部分 */
.headerMenu a {
  margin-left: 22px;
  margin-right: 22px;

  /* line-height: 20px; */
}

/* リンク部分をまとめる外枠 */
.linkMenuWraper {
  margin-right: 57px;
}

/* カート部数外枠 */
.cartNumberWrapper {
  background-color: aqua;

  /* 幅を設定して丸型にする */
  border-radius: 50%;
  width: 26px;
  height: 26px;

  margin-bottom: 18px;
  font-size: 15px;
  text-align: center;
  font-style: normal;

  /* text-align: center; */
}

/* カート数 */
.cartNumberWrapper a {
  margin: 0 auto;
}
/* カート数の位置調整*/
.cartNumberWrapper div {
  padding-top: 1.5px;
}

/* カートのアイコン */
.cartIconImage {
  padding-bottom: 20px;
}

/*ページの外枠  */
.mainWrapper {
  /* 左右の内側の幅を設定 */
  margin-left: min(calc(5%), 88px);
  margin-right: min(calc(5%), 94px);
}

/* ファーストビュー調整用 */
.firstViewArea {
  position: relative;
  padding-top: 88px;
}

/* ファースロビューの外枠 */
.fvImageWrapper1 {
  width: 100%;
  height: 100%;
  padding-top: 55px;
  position: relative;
}

/* ファーストビュー背景画像 */
.fvbackImage1 {
  width: 100%;
  height: 893px;
  object-fit: cover;
  /* object-fit: contain;  */
  top: 0px;
  position: absolute;
  z-index: 1;
}

/* FVの内側 */
.fvInnerWrapper {
  display: flex;
  padding-top: 55px;

  background-color: rgba(73, 72, 71, 0.366);
  width: 100%;
  height: min(calc(89vh), 769px);
  background: rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;

  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.8px;
  text-wrap: nowrap;

  position: relative;
}

/* ロゴまわり */
.fvLogoArea {
  margin-left: 83px;
  margin-top: 155px;

  z-index: 4;
  /* width: 500px; */
  /* margin-right: 200px; */
}

/* FVコピーライト部分 */
.fvCopyWrite {
  margin-top: 102px;
}

.fvImageArea {
  /* width: 100%; */
  /* width: 800px; */
  width: 44vw;
  z-index: 3;
  height: 68vh;
  /* z-index: 3; */
  position: relative;
  right: 233px;
  top: 39px;

  position: absolute;
}

/* FVイメージ部分 */
.fvImage1 {
  width: 100%; /* 親要素の幅に合わせる */
  height: auto; /* 高さは自動調整してアスペクト比を保持 */
  object-fit: contain; /* 画像全体がコンテナに収まるように調整 */
}
/* ニュースの一覧の外枠 */
.newsListWrapper {
  display: flex;
  z-index: 2;
}

/* News部分 */
.newsConponentWrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* FVとNewsの間のエリア */
.marginBlock {
  width: 100%;
  height: 119px;
}

/* 背景の黒いブロック類 */
.backGroundSheet1 {
  background-color: black;
  width: 265px;
  height: 119px;
  flex-shrink: 0;
  right: 0px;
  margin-left: auto;
  margin-right: 0px;
  position: absolute;
}
.backGroundSheet2 {
  background-color: black;
  width: 209px;
  height: 404px;
  flex-shrink: 0;
  left: 0px;
  margin-left: 1.5em;
  z-index: 0;
  position: absolute;
}

.backGroundSheet3 {
  background-color: black;
  width: 604px;
  height: 183px;
  flex-shrink: 0;
  right: 25px;
  z-index: 0;
  margin-bottom: -80px;
  position: absolute;
}

/* ニュースのタイトルエリア */
.newsCompoTitleArea {
  left: 0px;
  position: absolute;
  max-width: 300px;
  z-index: 3;

  font-size: 14px;
  line-height: 21px; /* 150% */
  letter-spacing: 1.12px;
}

/* セクション名の外枠 */
.sectionHeaderWrapper {
  color: #ffffff;

  font-size: 55px;
}

/* セクション名 */
.sectionHeader {
  margin: 0;
  font-family: 'Frank Ruhl Libre';
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}

/* 文章部分 */
.paragraph {
  font-size: 1em;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';

  font-style: normal;
  font-weight: 300;
  margin: 0px;
}

/* News */

/* Newsのセクション名 */
.titleNews::before,
.titleProduct::before {
  /* beforeを非表示 */
  display: none;
}

/* Newsのセクション名 */
.titleNews {
  margin-bottom: 15px;
}

/* Newsアイテムの外側 */
.newsItemWrapper {
  margin-left: 33px;
}

/* topic名 外枠*/
.topicTypeWrrapper {
  font-size: 12px;
}

/* topic名 */
.topicType {
  margin-bottom: 33px;

  color: #b6b6b6;
  font-family: 'Frank Ruhl Libre';
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

/* newsの日付の外枠 */
.newsDateWrapper {
  font-size: 12px;
}

/* Newsの日付部分 */
.newsDate {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Playfair Display';
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

.newsTitleTextWrapper {
  font-size: 20px;
}
.newsTitleText {
  color: #fff;
  font-family: YuMincho;
  font-size: 1em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
  margin: 0px;
}

/* セクション名のボーダー */
.sectionHeader::after {
  /* ボーダーの調整 */
  position: relative;
  /* background-color: bisque; */
  left: 10px;
  bottom: 0.2em;
}

/* セクション名のボーダー */
.sectionHeader::before {
  /* ボーダーの調整 */
  position: relative;
  /* background-color: bisque; */
  right: 10px;
  bottom: 0.2em;
}

/* リンクの外枠 */
.linkButtonWrapper {
  display: flex;
  justify-content: end;
}

/* ReadMoreボタンの外枠 */
.readMoreButton {
  border: 1px solid #a4a4a4;
  background: rgba(62, 59, 59, 0.64);

  color: #fff;
  text-align: center;
  padding: 11px 33px;
  margin-top: 33px;

  font-family: 'Frank Ruhl Libre';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.76px;

  z-index: 3;
}

.readMoreButton {
  font-size: 1em;
}

/* news一覧のの日付とタイトルの外枠部分 */
.newsTitleWrapper {
  border-left: #a4a4a4 solid 2px;
  padding-left: 17px;
  margin-top: 22px;
}

.newsTextWrapper {
  font-size: 12px;
}

.newsText {
  color: #fff;
  font-family: 'Playfair Display';
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

/* Aboutのセクション名 */
.titleAbout::after {
  /* beforeを非表示 */
  display: none;
}

/* サブタイトルの外枠 */
.sectionSubTitleWrapper {
  font-size: 25px;
}

/* サブタイトル */
.sectionSubTitle {
  margin: 0;
  /* フォント */
  color: #fff;
  font-family: YuMincho;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.75px;
}

/* About部分 */
.aboutConponentWrapper {
  margin-top: 180px;
  /* display: flex; */
  /* justify-content: flex-end; */
  position: relative;
}

/* セクション名などの大枠 */
.aboutSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Sweepとは？の部分 */
.aboutDiscriptionWrapper {
  display: inline-block;
  width: 306px;
  text-align: start;
}

/* aboutのSweep X Sleep部分外枠 */
.aboutSweepSleepWrapper {
  color: #fff;
  font-family: 'Frank Ruhl Libre';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}
/* aboutのSweep X Sleep部分 */
.aboutSweepSleep {
  font-size: 1em;
}
/* spanの色が違う部分 */
.SweepSleepSpan {
  color: #c0c0c0;
}

/* 睡眠効果のあるチョコレート部分　外枠 */
.aboutDiscription1Wrapper {
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';

  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.5px;
}
/* 睡眠効果のあるチョコレート部分　外枠 */
.aboutDiscription1 {
  font-size: 1em;
}

/* 特徴の項目部分　外枠 */
.textWrap {
  border: 1px solid #a4a4a4;

  align-items: center;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 9px;

  /* フォント */
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.3px;

  width: 306px;
  /* height: 37px; */
  flex-shrink: 0;

  margin-bottom: 7px;
}

/* 特徴の文字部分 */
.textWrap p,
.textWrap2 p {
  margin: 0;
  font-size: 1em;
}

/* aboutの画像部分　大枠 */
.aboutImageArea {
  display: flex;
  position: relative;

  margin-top: -200px;

  z-index: 3;

  /* フォント */
  color: #b6b6b6;
  font-family: 'Frank Ruhl Libre';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

/* aboutの画像エリア */
.aboutImageArea p {
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 11px;
}

/* 特徴の項目部分　外枠 */
.textWrap2 {
  border: 1px solid #a4a4a4;

  align-items: center;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 9px;

  /* フォント */
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.3px;

  width: 312px;

  /* height: 37px; */
  flex-shrink: 0;

  margin-bottom: 7px;
}

/* aboutの説明文　外枠 */
.aboutIntroduceTextWrap {
  width: 430px;
  margin-top: 19px;

  /* フォント */
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  letter-spacing: 1.4px;
}
.aboutImage1 {
  width: 507px;
  height: 319px;

  position: relative;
}

.aboutImage2 {
  width: 334px;
  height: 210px;
  margin-top: 240px;
  margin-left: -40px;

  position: relative;
}

/* 画像に隣接する文字（Sweet） */
.aboutImage2 + p {
  text-align: end;
}

.aboutTextArea {
  margin-top: 40px;

  /* top: -10px; */
  /* position: absolute; */
}

/* Product */

.productConponentWrapper {
  display: flex;

  /* フォント */
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 150% */
  letter-spacing: 1.12px;
}

.lineUpButtonWrapper {
  display: flex;
  justify-content: flex-start;
}

.lineUpButton {
  border: #fff 2px solid;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.itemLink {
  display: flex;
}

.productWrapper {
  display: flex;
}

.pickUpConponentWrapper {
  display: flex;
}

.pickUpListWrapper {
  display: flex;
}

.campaginItemListtWrapper {
  display: flex;
}

.voiceConponentWrapper {
  display: flex;
  justify-content: end;
}

.reviewBoxWrapper {
  display: flex;
}
