/* トップページ */
/* ヘッダー */
.header {
  background-color: black;

  /* 幅を設定してFixed */
  top: 0px;
  width: 100%;
  height: 88px;
  position: fixed;
  z-index: 10;

  /* ---- */
  color: #fff;
  font-family: Noto Sans Javanese;
  font-size: 20px;
  font-style: normal;
  /* font-weight: 400; */
  /* line-height: 49px; */
  /* 245% */
  /* -- */
}

/* ヘッダー内の要素の大枠部分 */
.headerItemWrapper {
  /* 横並びにして右寄せにする */
  display: flex;
  justify-content: flex-end;
  position: relative;

  /* 左右の内側の幅を設定 */
  margin-left: min(calc(5%), 88px);
  margin-right: min(calc(5%), 94px);

  background-color: rgb(140, 138, 135);
  @media screen and (max-width: 768px) {
  }
}
/* ロゴイメージ */
.logoImage {
  /* 上下の位置を設定して絶対値固定する */
  background-color: rgb(93, 97, 97);
  left: 0px;
  top: 25px;

  position: absolute;
}

/* ヘッダーのメニュー部分 */
.headerMenu {
  display: flex;
  padding-top: 18.5px;
  align-items: center;
  background-color: antiquewhite;
}

/* ヘッダー中のリンク部分 */
.headerMenu a {
  margin-left: 22px;
  margin-right: 22px;

  /* line-height: 20px; */
}

/* リンク部分をまとめる外枠 */
.linkMenuWraper {
  margin-right: 57px;
}

/* カート部数外枠 */
.cartNumberWrapper {
  background-color: aqua;

  /* 幅を設定して丸型にする */
  border-radius: 50%;
  width: 26px;
  height: 26px;

  margin-bottom: 18px;
  font-size: 15px;
  text-align: center;
  font-style: normal;

  /* text-align: center; */
}

/* カート数 */
.cartNumberWrapper a {
  margin: 0 auto;
}
/* カート数の位置調整*/
.cartNumberWrapper div {
  padding-top: 1.5px;
}

/* カートのアイコン */
.cartIconImage {
  padding-bottom: 20px;
}

/*ページの外枠  */
.mainWrapper {
  /* 左右の内側の幅を設定 */
  margin-left: min(calc(5%), 88px);
  margin-right: min(calc(5%), 94px);
}

/* ファーストビュー調整用 */
.firstViewArea {
  position: relative;
  padding-top: 88px;
}

/* ファースロビューの外枠 */
.fvImageWrapper1 {
  width: 100%;
  height: 100%;
  padding-top: 55px;
  position: relative;
}

/* ファーストビュー背景画像 */
.fvbackImage1 {
  width: 100%;
  height: 893px;
  object-fit: cover;
  /* object-fit: contain;  */
  top: 0px;
  position: absolute;
  z-index: 1;
}

/* FVの内側 */
.fvInnerWrapper {
  display: flex;
  padding-top: 55px;

  background-color: rgba(73, 72, 71, 0.366);
  width: 100%;
  height: min(calc(89vh), 769px);
  background: rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;

  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: YuMincho;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.8px;
  text-wrap: nowrap;

  position: relative;
}

/* ロゴまわり */
.fvLogoArea {
  margin-left: 83px;
  margin-top: 155px;

  z-index: 4;
  /* width: 500px; */
  /* margin-right: 200px; */
}

/* FVコピーライト部分 */
.fvCopyWrite {
  margin-top: 102px;
}

.fvImageArea {
  /* width: 100%; */
  /* width: 800px; */
  width: 44vw;
  z-index: 3;
  height: 68vh;
  /* z-index: 3; */
  position: relative;
  right: 233px;
  top: 39px;

  position: absolute;
}

/* FVイメージ部分 */
.fvImage1 {
  width: 100%; /* 親要素の幅に合わせる */
  height: auto; /* 高さは自動調整してアスペクト比を保持 */
  object-fit: contain; /* 画像全体がコンテナに収まるように調整 */
}
/* ニュースの一覧の外枠 */
.newsListWrapper {
  display: flex;
  z-index: 2;
}

/* News部分 */
.newsConponentWrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* FVとNewsの間のエリア */
.marginBlock {
  width: 100%;
  height: 119px;
}

/* 背景の黒いブロック類 */
.backGroundSheet1 {
  background-color: black;
  width: 265px;
  height: 119px;
  flex-shrink: 0;
  right: 0px;
  margin-left: auto;
  margin-right: 0px;
  position: absolute;
}
.backGroundSheet2 {
  background-color: black;
  width: 209px;
  height: 404px;
  flex-shrink: 0;
  left: 0px;
  margin-left: 1.5em;
  z-index: 0;
  position: absolute;
}

.backGroundSheet3 {
  background-color: black;
  width: 604px;
  height: 183px;
  flex-shrink: 0;
  right: 25px;
  z-index: 0;
  margin-bottom: -80px;
  position: absolute;
}
.backGroundSheet4 {
  background-color: black;
  width: 993px;
  height: 380px;
  flex-shrink: 0;
  right: 0px;
  z-index: 0;
  margin-right: -80px;
  position: absolute;
}
.backGroundSheet5 {
  background-color: black;
  width: 1079px;
  height: 304px;
  flex-shrink: 0;
  flex-shrink: 0;
  left: 0px;
  margin: -30px 0px 0px -80px;
  z-index: 0;

  position: absolute;
}

.backGroundSheet6 {
  background-color: black;
  width: 707px;
  height: 359px;

  margin-top: -20px;
  flex-shrink: 0;
  left: 0px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet7 {
  background-color: black;
  width: 670px;
  height: 309px;

  margin-top: -36px;
  flex-shrink: 0;
  right: 0px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet8 {
  background-color: black;
  width: 749px;
  height: 251px;
  flex-shrink: 0;

  margin-top: -36px;
  flex-shrink: 0;
  left: 0px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet9 {
  background-color: black;
  width: 390px;
  height: 380px;
  flex-shrink: 0;

  margin-top: -36px;
  flex-shrink: 0;
  right: 40px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet10 {
  background-color: black;
  width: 934px;
  height: 194px;
  flex-shrink: 0;

  margin-top: 20px;
  flex-shrink: 0;
  left: -67px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet11 {
  background-color: black;
  width: 522px;
  height: 104px;
  flex-shrink: 0;

  margin-top: -13px;
  flex-shrink: 0;
  left: -90px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet12 {
  background-color: black;
  width: 1011px;
  height: 156px;
  flex-shrink: 0;

  margin-top: 75px;
  flex-shrink: 0;
  left: -20px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet13 {
  background-color: black;
  width: 254px;
  height: 233px;
  flex-shrink: 0;

  margin-top: 70px;
  margin-left: 30px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet14 {
  background-color: black;
  width: 963px;
  height: 291px;
  flex-shrink: 0;

  margin-top: 30px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet15 {
  background-color: black;
  width: 273px;
  height: 229px;
  flex-shrink: 0;

  margin-top: 90px;
  margin-left: 50px;

  z-index: 0;

  position: absolute;
}

.backGroundSheet16 {
  background-color: black;
  width: 398px;
  height: 227px;
  flex-shrink: 0;

  margin-top: -20px;
  margin-right: -59px;
  right: 0px;
  z-index: 0;

  position: absolute;
}
.backGroundSheet17 {
  background-color: black;
  width: 378px;
  height: 700px;
  flex-shrink: 0;

  margin-top: -20px;
  margin-left: -20px;
  left: 0px;
  z-index: 0;

  position: absolute;
}

/* ニュースのタイトルエリア */
.newsCompoTitleArea {
  left: 0px;
  position: absolute;
  /* max-width: 300px; */
  z-index: 3;

  font-size: 14px;
  line-height: 21px; /* 150% */
  letter-spacing: 1.12px;
}

/* セクション名の外枠 */
.sectionHeaderWrapper {
  color: #ffffff;

  font-size: 55px;
}

/* セクション名 */
.sectionHeader {
  margin: 0;
  font-family: 'Frank Ruhl Libre';
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}

/* 文章部分 */
.paragraph {
  font-size: 1em;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';

  font-style: normal;
  font-weight: 300;
  margin: 0px;
}

/* News */

/* Newsのセクション名 */
.titleNews::before,
.titleProduct::before,
.titleCampaign::before {
  /* beforeを非表示 */
  display: none;
}

/* Newsのセクション名 */
.titleNews {
  margin-bottom: 15px;
}

/* Newsアイテムの外側 */
.newsItemWrapper {
  margin-left: 33px;
}

/* topic名 外枠*/
.topicTypeWrrapper {
  font-size: 12px;
}

/* topic名 */
.topicType {
  margin-bottom: 33px;

  color: #b6b6b6;
  font-family: 'Frank Ruhl Libre';
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

/* newsの日付の外枠 */
.newsDateWrapper {
  font-size: 12px;
}

/* Newsの日付部分 */
.newsDate {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Playfair Display';
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

.newsTitleTextWrapper {
  font-size: 20px;
}
.newsTitleText {
  color: #fff;
  font-family: YuMincho;
  font-size: 1em;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
  margin: 0px;
}

/* セクション名のボーダー */
.sectionHeader::after {
  /* ボーダーの調整 */
  position: relative;
  /* background-color: bisque; */
  left: 10px;
  bottom: 0.2em;
}

/* セクション名のボーダー */
.sectionHeader::before {
  /* ボーダーの調整 */
  position: relative;
  /* background-color: bisque; */
  right: 10px;
  bottom: 0.2em;
}

/* リンクの外枠 */
.linkButtonWrapper {
  display: flex;
  justify-content: end;
}

/* ReadMoreボタンの外枠 */
.readMoreButton {
  border: 1px solid #a4a4a4;
  background: rgba(62, 59, 59, 0.64);

  color: #fff;
  text-align: center;
  padding: 11px 33px;
  margin-top: 33px;

  font-family: 'Frank Ruhl Libre';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.76px;

  z-index: 3;
}

.readMoreButton {
  font-size: 1em;
}

/* news一覧のの日付とタイトルの外枠部分 */
.newsTitleWrapper {
  border-left: #a4a4a4 solid 2px;
  padding-left: 17px;
  margin-top: 22px;
}

.newsTextWrapper {
  font-size: 12px;
}

.newsText {
  color: #fff;
  font-family: 'Playfair Display';
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

/* Aboutのセクション名 */
.titleAbout::after,
.titlePickUp::after,
.titleVoice::after {
  /* beforeを非表示 */
  display: none;
}

/* カテゴリの文字列部分 */
.categoryTextWrapper {
  z-index: 3;
  position: relative;

  margin-left: 70px;
}

/* サブタイトルの外枠 */
.sectionSubTitleWrapper {
  font-size: 25px;
}

/* サブタイトル */
.sectionSubTitle {
  margin: 0;
  /* フォント */
  color: #fff;
  font-family: YuMincho;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.75px;
}

/* About部分 */
.aboutConponentWrapper {
  margin-top: 180px;

  position: relative;
}

/* セクション名などの大枠 */
.aboutSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 3;
}

/* Sweepとは？の部分 */
.aboutDiscriptionWrapper {
  display: inline-block;
  width: 306px;
  text-align: start;
}

/* aboutのSweep X Sleep部分外枠 */
.aboutSweepSleepWrapper {
  color: #fff;
  font-family: 'Frank Ruhl Libre';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}
/* aboutのSweep X Sleep部分 */
.aboutSweepSleep {
  font-size: 1em;
}
/* spanの色が違う部分 */
.SweepSleepSpan {
  color: #c0c0c0;
}

/* 睡眠効果のあるチョコレート部分　外枠 */
.aboutDiscription1Wrapper {
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';

  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.5px;
}
/* 睡眠効果のあるチョコレート部分　外枠 */
.aboutDiscription1 {
  font-size: 1em;
}

/* 特徴の項目部分　外枠 */
.textWrap {
  border: 1px solid #a4a4a4;

  text-align: center;
  padding-top: 8px;
  padding-bottom: 9px;

  /* フォント */
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.3px;

  width: 306px;
  /* height: 37px; */
  flex-shrink: 0;

  margin-bottom: 7px;
}

/* 特徴の文字部分 */
.textWrap p,
.textWrap2 p {
  margin: 0;
  font-size: 1em;
}

/* aboutの画像部分　大枠 */
.aboutImageArea {
  display: flex;
  position: relative;

  margin-top: -200px;

  z-index: 3;

  /* フォント */
  color: #b6b6b6;
  font-family: 'Frank Ruhl Libre';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

/* aboutの画像エリア */
.aboutImageArea p {
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 11px;
}

/* 特徴の項目部分　外枠 */
.textWrap2 {
  border: 1px solid #a4a4a4;

  align-items: center;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 9px;

  /* フォント */
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.3px;

  width: 312px;

  /* height: 37px; */
  flex-shrink: 0;

  margin-bottom: 7px;
}

/* aboutの説明文　外枠 */
.aboutIntroduceTextWrap {
  width: 430px;
  margin-top: 19px;

  /* フォント */
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  letter-spacing: 1.4px;
}
.aboutImage1 {
  width: 507px;
  height: 319px;
  z-index: 4;

  position: relative;
}

.aboutImage2 {
  width: 334px;
  height: 210px;
  margin-top: 240px;
  margin-left: -40px;

  z-index: 3;
  position: relative;
}

/* 画像に隣接する文字（Sweet） */
.aboutImage2 + p {
  text-align: end;
  /* z-indexを適応させるための設定」 */
  z-index: 4;
  position: relative;
}

.aboutTextArea {
  margin-top: 40px;

  z-index: 3;
  /* top: -10px; */
  position: relative;
}

/* Product */
.productConponentWrapper {
  z-index: 3;
  position: relative;
  margin-top: 150px;
  /* フォント */
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 150% */
  letter-spacing: 1.12px;
}

.productlineupWrapper {
  z-index: 3;
  position: relative;
}

/* サイズとカテゴリーの中の部分 */
.lineupCopntext {
  padding-top: 13px;
  padding-bottom: 32px;
}

/* Lineupの外枠 */
.lineUpButtonWrapper {
  display: flex;
  justify-content: flex-start;
}

/* Lineupボタン */
.lineUpButton {
  border: 1px solid #a4a4a4;
  background: rgba(62, 59, 59, 0.64);
  align-items: center;
  text-align: center;

  color: #fff;
  font-family: 'Frank Ruhl Libre';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.76px;

  padding-top: 12px;
  padding-bottom: 10px;
  width: 167px;
}

/* lineupのリンク部分 */
.lineUpButton a {
  font-size: 1em;
}

/* セクション名などの大枠 */
.sizeContextWrapper {
  /* 横並び、かつ１列表示で画面末尾に寄せる */
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  z-index: 3;
  position: relative;
}

/* サイズのテキスト部分 */
.sizeContext {
  /* 中身は縦方向にセット＆文字は左よせにする */
  display: inline-block;
  width: 401px;
  text-align: start;
}

/* 項目の外枠（サイズ） */
.itemLinkSize {
  display: flex;
  width: 373px;
  height: 150px;
  flex-shrink: 0;

  align-items: center;
  border: 1px solid #a4a4a4;

  margin-bottom: 30px;
  margin-left: 50px;

  position: relative;
}

/* 矢印部分 */
.itemLinkSize svg {
  /* margin-left: 20px; */
  right: 33px;
  position: absolute;
}

/* 項目の画像 */
.itemImageWrapper {
  margin-left: 32px;
  width: 129px;
  height: 110px;
  flex-shrink: 0;
  position: relative;
}

/* 項目の外枠（カテゴリ） */
.itemLinkCategory {
  display: flex;
  width: 342px;
  height: 150px;
  flex-shrink: 0;

  align-items: center;

  position: relative;
}

/* 矢印部分 */
.itemLinkCategory svg {
  margin-left: 20px;
  right: 0px;
  position: absolute;
}

/* 項目の画像 */
.itemImageCategoryWrapper {
  width: 115px;
  height: 111px;
  flex-shrink: 0;
  position: relative;
}

/* 項目名　外枠 */
.itemNameWrapper {
  color: #fff;

  margin-left: 22px;
  margin-top: 23px;

  align-items: center;
  /* フォント */
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
}

/* 項目名 */
.itemName {
  margin-top: 0px;
  margin-bottom: 7px;

  font-size: 1em;
}

.itemSubNameWrapper {
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';

  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;

  padding-left: 2px;
}

.itemSubName {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 1em;
}

/* productのサイズの項目の外枠 */
.produtlineupSizeWrapper {
  display: flex;

  margin-top: 59px;

  position: relative;
}

.pickUpConponentWrapper {
  display: flex;
}

.productImage {
  width: 880px;
  height: 511px;
  flex-shrink: 0;

  z-index: 3;
  right: 0;
  position: absolute;
}

.categoryConponentWrapper {
  margin-top: 188px;
  position: relative;

  /* font */
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 150% */
  letter-spacing: 1.4px;
}

/* カテゴリーのテキスト部分 */
.categoryTextWrapper p {
  margin-top: 14px;
}

/* カテゴリーの画像の外枠 */
.categoryImageOuterWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 91px;
  padding-bottom: 51px;
}
/* 画像の外枠 */
.categoryImageWrapper {
  width: 1097px;
  height: 441px;
  flex-shrink: 0;

  position: relative;
}
/* リストの外枠 */
.categoryListWrapper {
  display: flex;
  justify-content: center;
}
/* カテゴリーのリスト */
.categoryList {
  width: 1097px;

  display: inline-flex;
  flex-wrap: wrap; /* 行を折り返す */

  align-items: flex-start;
  gap: 32px 34px; /* 34px間隔で並べる */
}
/* カテゴリーリストの３つ目の要素まで下線部追加 */
.categoryList > div:nth-child(-n + 3) {
  border-bottom: 1px solid #a4a4a4;
}

/* カテゴリー名の外枠 */
.itemCategoryNameWrapper {
  margin-left: 19px;
  margin-top: 30px;
}

/* カテゴリー名の外枠 */
.itemCategoryNameWrapper {
  color: #fff;
  font-family: 'Noto Sans Javanese';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* カテゴリー名 */
.itemCategoryName {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

/* カテゴリー名の外枠（英字） */
.itemCategorySubNameWrapper {
  color: #fff;
  font-family: 'Noto Sans Javanese';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

/* カテゴリー名の（英字） */
.itemCategorySubName {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 1em;
}

/* PickUp */
/* コンポーネント全体の外枠 */
.pickUpConponentWrapper {
  position: relative;
  margin-top: 175px;
}

/* pickUpリストの設定 */
.pickUpListWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 33px;
  position: relative;

  margin-top: 100px;
}

/* トップページ内のアイテムボックス */
.topItemBox {
  /* width: 266px; */

  flex-shrink: 0;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), rgba(0, 0, 0, 0.34);
  /* background-color: rgba(255, 255, 255, 0.971); */
  /* 高さ・長さは固定せずpaddingで調整 */
  display: block;
  padding: 28px 33px 27px 33px;
}

.topItemBoxImageWrapper {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  position: relative;
}

/* セクション名などの大枠 */
.pickupSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  right: 0;
}

/* PickUpの文章部分*/
.pickupDiscriptionWrapper {
  display: inline-block;
  width: 306px;
  text-align: start;

  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}

/* アイテムボックス */
.topItemInfoWrapper {
  color: #000;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}

/* 商品名（外枠） */
.topItemNameWrapper {
  font-size: 16px;
  letter-spacing: 1.6px;
}

/* 商品名 */
.topItemName {
  margin-bottom: 11px;
  font-size: 1em;
}

/* 商品価格 */
.topItemPrice {
  margin: 0;
  font-size: 1em;
}

/* クチコミ */
.topItemReview {
  font-size: 1em;
  margin-top: 3px;
  margin-bottom: 14px;
}

/* 価格の余白部分 */
.priceSpan {
  padding-right: 1em;
}

/* カートボタンの外枠 */
.topItemButtonWrapper {
  font-size: 16px;
}

/* カートボタン */
.topItemButton {
  width: 198px;
  height: 43px;
  flex-shrink: 0;
  color: #fff;
  font-family: YuGothic;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.76px;
  background: #343434;

  border: none;
}

/* Campaign */
.campaignComponentWrapper {
  margin-top: 136px;
  position: relative;
  z-index: 3;
}

.campaignTextArea1Wrapper {
  position: relative;
  z-index: 3;
}

/* １つ目のキャンペーン文字部分 */
.campaignTextArea1_2Wrapper {
  margin-top: 86px;
  margin-left: 61px;

  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 150% */
  letter-spacing: 1.4px;

  position: relative;
  z-index: 3;
}

/* キャンペーン対象商品 （外枠）*/
.campaginItemListWrapper {
  margin-left: 105px;
  position: relative;
  z-index: 3;
}
/* 対象商品の一覧 */
.campaginItemList {
  display: inline-flex;
  align-items: flex-start;
  gap: 29px;

  position: relative;
  z-index: 3;
}

/* 対象商品の文字 */
.targetItemWrapper {
  margin-top: 105px;
  margin-left: -9px;
  margin-bottom: 36px;

  position: relative;
  z-index: 3;

  /* font */
  color: #fff;
  font-family: YuMincho;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 105% */
  letter-spacing: 2px;
}

.campaignDiscription1 {
  font-size: 1em;
}

/* 今発売している。。の部分 */
.campaignDiscription2 {
  font-size: 1em;
  margin-top: 18px;
}

/* 選べるプレゼント内容 */
.campaignDiscription3 {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 選べるプレゼント内容 */
.campaignDiscription4 {
  font-size: 1em;
  margin-top: 24px;
  margin-bottom: 0px;
}

/*  対象商品の文字（外枠） */
.targetItem {
  font-size: 1em;
}

.campaignTextArea2Wrapper {
  position: relative;
  z-index: 3;

  margin-top: 45px;
  margin-left: 61px;

  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px; /* 150% */
  letter-spacing: 1.4px;
}

/* Voice */
.voiceConponentWrapper {
  margin-top: 89px;
  position: relative;
}

/* セクション名などの大枠 */
.voiceSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 3;
  right: 0;
}

/* レビューのリスト部分(外枠) */
.reviewItemListWrapper {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

/* レビューのリスト部分 */
.reviewItemList {
  width: 1291px;
  display: inline-flex;
  flex-wrap: wrap; /* 行を折り返す */

  align-items: flex-start;
  gap: 45px; /* 34px間隔で並べる */

  position: relative;
}

/* レビューのアイテムボックス */
.reviewBoxWrapper {
  display: flex;
  background: #232225;

  padding: 64px 57px 60px 57px;
}
.reviewTextWrapper {
  margin-top: -5px;
  margin-left: 21px;
}

/* 商品名の行（外枠） */
.reviewItemNameWrapper {
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
}

/* 商品名 */
.reviewItemName {
  font-size: 1em;
}

/* 価格 */
.reviewItemPrice {
  font-size: 1em;
  padding-left: 10px;
}

/* レビュー者（外枠） */
.reviewInfoWrapper {
  margin-top: 13px;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}

/* レビュー者 */
.reviewInfoWrapper {
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}
/* レビュアー */
.reviewReviewer {
  font-size: 1em;
}
.reviewCommentWrapper {
  width: 256px;

  flex-shrink: 0;

  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.4px;
}

.reviewCommentWord {
  letter-spacing: 1.3px;
  margin-bottom: 0px;
}

.reviewComment {
  text-wrap: wrap;
  margin-top: 6px;
  margin-bottom: 0px;
}

.reviewCommentWrapper {
  margin-top: 10px;
}

/* リンクタグの外枠 */
.reviewLinkWrapper {
  text-align: end;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.3px;
}

/* リンクタグの書式を設定 */

a.reviewLink:link,
a.reviewLink:visited,
a.reviewLink:active {
  color: #fff;
  text-decoration: none;
}
/* 矢印の位置調整 */
.reviewLink {
  padding-right: 7px;
}

.reviewImageWrapper {
  width: 203px;
  height: 200px;
  flex-shrink: 0;
  position: relative;
}
